html {
    font-size: 1.0vw;
}

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

#header {
    /* position: sticky; */
    top: 0px;
    background-color: #ffdddd;
    width: 100%;
    height: 12vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 0px;
}

.header_text {
    font-size: 3rem;
    margin: 20px;
    text-align: center;
    padding: 10px;
}

div.navbar_item {
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    flex-grow: 4;

}

.navbar_item>a {
    color: rgb(154, 154, 154);
    text-decoration: none;
    width: 2vw;
    font-size: 1.4rem;
    text-align: center;
    /* flex-grow: 4; */
    padding-right: 10rem;
    /* flex-shrink: 0; */
}

#LookBook {
    min-width: 150px;
    padding-right: 5rem;
}

.navbar_item>a:hover {
    color: black;
}

.header_text>a {
    color: black;
    text-decoration: none;
}

.navbar_user {
    margin-right: 20px;
    display: flex;
    justify-content: right;
    flex-grow: 1;
}

.navbar_user>a>img {
    filter: invert();
    width: 30px;
    height: 30px;
}

.navbar_user>a>img:hover {
    filter: none;
    flex-direction: row-reverse;
}

.container {
    width: 100%;
    height: 2000px;
}

.container-bg {
    /* position: absolute; */
    background-image: url("../../img/maxresdefault.jpg");
    background-size: 100% auto;
    /* background-position: center center; */
    background-repeat: no-repeat;
    /* opacity: 0.5; */
    width: 100%;
    height: 700px;
}

.container-bg-filter {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
}

.container-child {
    /* padding: 0 3rem; */
    display: flex;
    height: 100%;
    flex-direction: column;
    /* justify-content: center; */
}

.container-child-title {
    position: relative;
    top: 15vw;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 5rem;
    font-weight: bold;
}

.container-child-description {
    position: relative;
    top: 17vw;
    text-align: center;
    font-size: 2rem;
    /* font-weight: bold; */
}

.container-child-search-box {
    position: relative;
    top: 20vw;
    width: 40vw;
    height: 3.5vw;
    margin: 10px auto;
}

.container-child-search-box input {
    border: 1px solid #a1a1a1;
    border-radius: 50px;
    width: 100%;
    height: 120%;
    padding-left: 4vw;
}

.container-child-search-box input::placeholder {
    font-size: 1.2vw;
}

.container-child-search-box input:focus {
    outline: none;
    box-shadow: 0 0 2px #000000;
}

.container-child-search-box input:enabled {
    color: #535353;
    font-weight: bold;
}

.container-child-search-box input:disabled {
    color: #000000;
}

.container-child-search-box img {
    position: absolute;
    width: 1.3vw;
    top: 1.4vw;
    left: 1.5vw;
    margin: 0;
    opacity: 0.3;
}

#footer {
    width: 100%;
    height: 20vh;
    background-color: #ffa4a4;
}