html {
    font-size: 1.0vw;
}

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    /* top: 0px; */
    /* width: 100%; */
    /* height: 80px; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 12px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.navbar_logo {
    width: 25vw;
    display: flex;
    /* text-align: center; */
    /* justify-self: center; */
    /* justify-content: center; */
    align-items: center;
    margin-left: 1vw;
}

/* .navbar_logo i {
    width: 60px;
} */

.navbar_logo img {
    width: 16%;
    height: auto;
    padding: 0px;
}

.navbar_text {
    font-size: 2rem;
    font-weight: bold;
    /* margin: 20px; */
    /* text-align: center; */
    padding-left: 2vw;
}

.navbar_menu {
    display: flex;
    width: 50vw;
    list-style: none;
    justify-content: flex-start;
    padding-left: 0;
    /* flex-direction: row;
    align-items: center; */
    flex-grow: 4;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_menu li a {
    color: rgb(154, 154, 154);
    text-decoration: none;
    width: 2vw;
    font-size: 1.4rem;
    text-align: center;
    /* font-weight: bold; */
    /* flex-grow: 4; */
    /* padding-right: 10rem; */
    /* flex-shrink: 0; */
}

.navbar_menu li a:hover {
    color: black;
}

.navbar_user {
    /* margin-right: 20px; */
    display: flex;
    /* justify-content: right; */
    padding-left: 0;
    /* flex-grow: 1; */
}

.navbar_user>a>img {
    filter: invert();
    width: 30px;
    height: 30px;
}

.navbar_user>a>img:hover {
    filter: none;
    flex-direction: row-reverse;
}

.navbar_toggleBtn {
    display: none;
    position: absolute;
    top: 3vw;
    right: 32px;
    font-size: 24px;
    justify-self: flex-start;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        /* height: 60px; */
        /* padding-top: 15px; */
        padding: 8px 24px;
        justify-content: center;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
        border-top: 1px solid #9b9b9b;
        /* padding: 8px 12px; */
        /* margin-top: 20px; */
    }

    .navbar_menu li:nth-child(1) {
        margin-top: 20px;

    }

    .navbar_menu li:nth-last-child(1) {
        border-bottom: 1px solid #9b9b9b;
        margin-bottom: 35px;

    }

    .navbar_menu li a {
        font-size: 2.5vw;
    }

    .navbar_user {
        position: absolute;
        top: 3vw;
        left: 32px;
        display: none;
        justify-content: center;
        /* width: 100%; */
    }

    .navbar_user a img {
        width: 25px;
        margin-top: 1.2vh;
        height: auto;
        filter: none;
    }

    .navbar_toggleBtn {
        display: block;
    }

    .navbar_menu.active,
    .navbar_user.active {
        display: flex;
        /* align-items: flex-start; */
        /* background-color: #ffdddd;
        width: 100%; */
    }

    .navbar_logo {
        /* text-align: center; */
        width: 40vw;
        margin: 5px 0px;
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20vw;
        /* width: 100%; */
        /* font-size: 10vw; */
    }

    .navbar_logo img {
        width: 8vw;
    }

    .navbar_text {
        font-size: 4vw;
        font-weight: bold;
        /* text-align: center; */
    }
}

.container {
    width: 100%;
    height: 2000px;
}

.bg-img-size {
    position: relative;
    width: 100%;
    /* 화면 크기와 동일하게 맞춰준다. 전체크기를 */
    height: 900px;
    /* 높이 고정 */
    overflow: hidden;
}

.bg-img-center {
    width: 100%;
    position: absolute;
    top: 0;
    right: -5vw;
    bottom: 0;
    left: -650px;
    text-align: left;
    transform: translateX(50vw);
}

.bg-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    /* object-fit: cover; */
    /* height: 900px; */
    max-width: 100%;
    max-height: 100%;
}

.bg-filter {
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 900px;

}

.container-child {}

.container-child-title {
    color: rgb(221, 221, 221) !important;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(48, 48, 48);
    font-size: 4.5rem;
    font-weight: bold;
}

.container-child-description {
    color: rgb(255, 255, 255) !important;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5rem;
    /* font-weight: bold; */
}

.container-child-search-box {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 3.5vw;
    margin: 10px auto;
}

.container-child-search-box input {
    border: 1px solid #a1a1a1;
    border-radius: 50px;
    width: 100%;
    height: 120%;
    padding-left: 4vw;
}

.container-child-search-box input::placeholder {
    font-size: 1.2vw;
}

.container-child-search-box input:focus {
    outline: none;
    box-shadow: 0 0 2px #000000;
}

.container-child-search-box input:enabled {
    color: #535353;
    font-weight: bold;
}

.container-child-search-box input:disabled {
    color: #000000;
}

.container-child-search-box img {
    position: absolute;
    width: 1.3vw;
    top: 1.4vw;
    left: 1.5vw;
    margin: 0;
    opacity: 0.3;
}

@media screen and (max-width: 500px) {
    .container-child-title {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: rgb(48, 48, 48);
        font-size: 6.5rem;
        font-weight: bold;
    }

    .container-child-description {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 3rem;
        /* font-weight: bold; */
    }

    .container-child-search-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60vw;
        height: 6vw;
        margin: 10px auto;
    }

    .container-child-search-box input {
        border: 1px solid #a1a1a1;
        border-radius: 50px;
        width: 100%;
        height: 120%;
        padding-left: 7vw;
    }

    .container-child-search-box input::placeholder {
        font-size: 1vw;
    }

    .container-child-search-box img {
        position: absolute;
        width: 3vw;
        top: 2vw;
        left: 2.5vw;
        margin: 0;
        opacity: 0.3;
    }
}

.footer {
    width: 100%;
    height: 20vh;
    background-color: #000000;
}