* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

.detail {
    width: 100%;

}

.detail_wrap {
    width: auto;
    height: 500px;
    /* background-color: rgb(229, 229, 229); */
    /* display: flex; */
    overflow: hidden;
}

.detail_wrap .detail_img {
    position: relative;
    top: 20%;
    left: 5%;
}

.detail_wrap .detail_img .detail_title {
    width: 15%;
    /* position: relative;
    top: 50%;
    left: 25%; */
    border-color: black;
    border: 0px;
    border-bottom: 2px;
    border-style: solid;
    padding-bottom: 1vh;
    margin-bottom: 3.5vh;
    font-size: 1.5rem;
    font-weight: bold;
}

.detail .detail_wrap .detail_img .detail_slide {
    width: 90%;
    height: 45vh;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap
}

.detail .detail_wrap .detail_img .detail_slide::-webkit-scrollbar {
    width: 90%;
    height: 1vh;
}

.detail .detail_wrap .detail_img .detail_slide::-webkit-scrollbar-thumb {
    height: 30%;
    background: #a6a6a6;
    /* 스크롤바의 색상 */
    border-radius: 10px;
}

.detail .detail_wrap .detail_img .detail_slide::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.detail .detail_wrap .detail_img .detail_slide img {
    /* width: 300px; */
    height: 100%;
    padding-bottom: 3vh;
}

.detail .detail_inst {
    width: 90%;
    position: relative;
    left: 5%;
}

.detail .detail_inst h2 {
    width: 15%;
    padding-bottom: 1vh;
    border: 0px;
    border-color: black;
    border-bottom: 2px;
    border-style: solid;
    margin-bottom: 5vh;
}

.detail .detail_inst p {
    text-indent: 10px;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .detail_wrap {
        height: 450px;
    }

    .detail_wrap .detail_img {
        top: 22%;
    }

    .detail_wrap .detail_img .detail_title {
        width: 20%;
        font-size: 2rem;
        margin-bottom: 3vh;
    }

    .detail .detail_wrap .detail_img .detail_slide {
        height: 40vh;
    }

    .detail .detail_inst h2 {
        font-size: 2rem;
    }

    .detail .detail_inst p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    .detail_wrap {
        height: 350px;
    }

    .detail_wrap .detail_img {
        top: 20%;
    }

    .detail_wrap .detail_img .detail_title {
        width: 20%;
        font-size: 2rem;
        margin-bottom: 2.5vh;
    }

    .detail .detail_wrap .detail_img .detail_slide {
        height: 30vh;
    }

    .detail .detail_inst h2 {
        font-size: 2rem;
    }
}