<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PersonalMarket</title>
    <link rel="stylesheet" href="../style/home_style.css">
    <link rel="stylesheet" href="../style/product_detail_style.css">
    <script src="../js/main.js" defer></script>
</head>

<body>
    <div class="navbar">
        <a href="./home.html">
            <div class="navbar_logo">
                <img src="../img/Group 12.png" alt="">
                <h1 class="navbar_text">Personal Market</h1>
            </div>
        </a>
        <ul class="navbar_menu">
            <li><a href="#">Categories</a></li>
            <li><a href="./rank.html">Ranking</a></li>
            <li><a href="#">Following</a></li>
            <li><a id="LookBook" href="#">New Shop</a></li>
            <li><a href="#">Brand</a></li>
            <li><a href="#">On Sale</a></li>
        </ul>
        <div class="navbar_user">
            <a href="./profile.html">
                <img src="../img/user.png" width="30" height="30">
            </a>
        </div>
        <a href="#" class="navbar_toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </div>
    <div class="detail">
        <div class="detail_wrap">
            <div class="detail_img">
                <h3 class="detail_title">Henry's Profile</h3>
                <div class="detail_slide">
                    <img src="../img/foodmenu-1.webp" alt="">
                    <img src="../img/foodmenu-2.webp" alt="">
                    <img src="../img/foodmenu-3.webp" alt="">
                    <img src="../img/foodmenu-4.webp" alt="">
                    <img src="../img/jamba-product1.webp" alt="">
                    <img src="../img/jamba-product2.webp" alt="">
                    <img src="../img/228.webp" alt="">
                    <img src="../img/3252853.webp" alt="">
                    <img src="../img/Cherry-Acai-1-NEW.webp" alt="">
                    <img src="../img/Strawberry-Banana-0.webp" alt="">
                    <img src="../img/Vanilla-Salted-Caramel-1.webp" alt="">
                    <img src="../img/Dragonfruit-Strawberry-1-NEW.webp" alt="">
                    <img src="../img/admin-ajax-2.webp" alt="">
                    <img src="../img/admin-ajax-4.webp" alt="">
                </div>
            </div>
        </div>
    </div>

</body>

</html>