<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PersonalMarket</title>
    <link rel="stylesheet" href="../style/home_style.css">
    <link rel="stylesheet" href="../style/product_detail_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="../js/main.js" defer></script>
</head>

<body>
    <div class="navbar">
        <a href="./home.html">
            <div class="navbar_logo">
                <img src="../img/Group 12.png" alt="">
                <h1 class="navbar_text">Personal Market</h1>
            </div>
        </a>
        <ul class="navbar_menu">
            <li><a href="#">Categories</a></li>
            <li><a href="./rank.html">Ranking</a></li>
            <li><a href="#">Following</a></li>
            <li><a id="LookBook" href="#">New Shop</a></li>
            <li><a href="#">Brand</a></li>
            <li><a href="#">On Sale</a></li>
        </ul>
        <div class="navbar_user">
            <a href="./profile.html">
                <img src="../img/user.png" width="30" height="30">
            </a>
        </div>
        <a href="#" class="navbar_toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </div>
    <div class="detail">
        <div class="detail_wrap">
            <div class="detail_img">
                <h3 class="detail_title">Revive's Detail</h3>
                <div class="detail_slide">
                    <img src="../img/foodmenu-1.webp" alt="">
                    <img src="../img/foodmenu-2.webp" alt="">
                    <img src="../img/foodmenu-3.webp" alt="">
                    <img src="../img/foodmenu-4.webp" alt="">
                    <img src="../img/jamba-product1.webp" alt="">
                    <img src="../img/jamba-product2.webp" alt="">
                    <img src="../img/228.webp" alt="">
                    <img src="../img/3252853.webp" alt="">
                    <img src="../img/Cherry-Acai-1-NEW.webp" alt="">
                    <img src="../img/Strawberry-Banana-0.webp" alt="">
                    <img src="../img/Vanilla-Salted-Caramel-1.webp" alt="">
                    <img src="../img/Dragonfruit-Strawberry-1-NEW.webp" alt="">
                    <img src="../img/admin-ajax-2.webp" alt="">
                    <img src="../img/admin-ajax-4.webp" alt="">
                </div>
            </div>
        </div>
        <div class="detail_inst">
            <h2>Instruction</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam rem quidem, velit tempora enim
                expedita temporibus placeat fugit cupiditate molestiae omnis distinctio possimus error explicabo
                inventore quasi doloribus hic quos neque, vitae iure ad. Culpa vitae similique voluptates laborum magnam
                laboriosam reiciendis porro! Ullam quos nesciunt sit magnam asperiores rerum?
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ex consequuntur labore, ad quibusdam
                veritatis in enim. Illo adipisci animi dignissimos, tempore possimus, ipsa iste reprehenderit quasi
                consectetur nesciunt rem odit dolore voluptas veritatis magni aliquam debitis eligendi officiis
                explicabo inventore. Id harum suscipit ut voluptatibus culpa! Suscipit odit, ab dolores officia iste
                quis adipisci expedita eaque laboriosam. Eum magni voluptatibus ullam a totam vitae blanditiis ipsa
                explicabo error reiciendis recusandae qui, veniam cupiditate aut magnam, sint impedit voluptatum
                aliquam, eaque adipisci quam unde debitis libero? Ullam minus non fugit aperiam, impedit quas unde,
                magnam numquam cumque dolore repellat praesentium.
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae consequatur at odio reprehenderit,
                dolore sunt ipsam qui fuga quasi aliquam itaque dolorum quidem sit repudiandae esse blanditiis alias
                eligendi! Sequi autem nemo asperiores quia officiis tenetur temporibus pariatur! Dolorem obcaecati
                aperiam voluptates nihil est dolorum accusamus vero sapiente ullam voluptas architecto, quaerat
                voluptatem at doloribus incidunt ut minima et minus tempore quas ipsa ea temporibus ipsam. Eius ipsa
                asperiores repellendus dolor tenetur, voluptas similique fugiat cum illo earum provident doloribus rerum
                sint, dolores labore cupiditate. Harum consequuntur, aperiam maxime quibusdam odio incidunt consectetur
                nisi facilis! Ullam cumque veniam sit in.
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quas adipisci dignissimos earum facere
                dolorum repellendus voluptatibus reiciendis cumque animi, iste asperiores architecto maxime unde vel
                sapiente voluptas totam ipsa sint dicta pariatur odio! Natus deserunt officiis suscipit nisi fuga
                architecto nihil non maxime mollitia adipisci? Error placeat sed tempora culpa vel, laudantium ullam
                porro dolores. Distinctio dignissimos beatae quos! Earum itaque eligendi magnam nam eaque laborum
                ducimus voluptates adipisci iure cumque sed dolor, fuga saepe culpa sint ea. Asperiores, eos? Ipsa
                veritatis earum reiciendis maiores ab delectus, odio omnis corrupti molestias quam accusantium ipsum
                soluta fugiat odit qui sequi deleniti, error quos dolor. Dolorum omnis blanditiis alias illo adipisci a
                fugiat, minima libero labore voluptas autem consequatur nihil! Illo voluptas omnis aliquid amet quaerat
                fuga quam obcaecati quidem placeat labore ipsum, cupiditate deleniti, explicabo assumenda id debitis
                quod, commodi iure? Vel libero dolorem unde suscipit? Voluptate vel modi provident illo, voluptatem odio
                distinctio, impedit rerum, illum eos accusantium! Repellendus, dolorum? Animi, delectus odio. Iusto ea
                possimus quidem voluptate ad pariatur. Dolorum a enim commodi omnis ad non, corrupti, nobis accusantium
                veritatis eveniet eum nam officia dolores? Quod officiis placeat reiciendis aliquid consequuntur magni,
                aut id? Maxime enim necessitatibus unde?
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus amet fuga totam ratione adipisci,
                beatae nam reiciendis necessitatibus aspernatur enim facilis repellat nemo cum doloremque dolore
                consectetur sunt sequi harum inventore quisquam dolores commodi ad! Iusto atque, nulla distinctio at
                harum, ad vel assumenda doloremque optio quisquam, voluptatibus culpa molestiae architecto provident
                libero cupiditate! Aperiam voluptate adipisci quos id ut, ipsam obcaecati esse amet harum incidunt ipsum
                perferendis debitis sint, temporibus, similique qui at. Ducimus alias sunt aliquam dolor exercitationem
                quaerat unde inventore recusandae! Consequuntur magni eaque corrupti hic voluptate atque rem laborum,
                nobis perspiciatis totam vitae, doloribus eum facilis unde accusamus illum aliquid reprehenderit.
                Accusantium a eaque minima eos, ut consequuntur tempore, sint suscipit veniam nesciunt consequatur
                laborum exercitationem quis officia libero. Necessitatibus dolorum id eos nihil nemo. Quaerat ea cum,
                nemo dolorem quod neque cumque libero id rerum autem, vitae totam adipisci molestias beatae nostrum
                debitis corporis suscipit ipsum saepe sint itaque et eveniet. Explicabo et porro enim tempora atque,
                cumque quis deserunt ipsam, doloremque ipsa laborum. Nobis iste non sint nisi nostrum, tenetur commodi
                iure tempora reiciendis ad voluptas est earum enim at adipisci? At laborum adipisci ex quia officiis
                quo, soluta quod perspiciatis harum voluptates ad obcaecati in facilis voluptate cum repellendus esse
                aut illum dolor quisquam quam earum. Vel optio non rerum pariatur modi nobis deserunt ullam! Eum natus,
                earum at iure delectus voluptates provident obcaecati accusantium alias aliquid pariatur, sed labore,
                nemo quo. Magnam esse maxime corporis molestiae totam. Necessitatibus, aspernatur provident culpa
                incidunt dolores perspiciatis, unde cumque earum eius consequatur non quis, a et rerum blanditiis labore
                aliquam. Culpa atque, voluptates at quo, adipisci quam asperiores, in sed repellendus neque consequatur?
                Ad animi minima ea molestiae possimus optio quibusdam vel natus voluptas? Architecto pariatur dolorum ad
                vero? Omnis modi vitae animi similique aspernatur.
            </p>
        </div>
    </div>

</body>

</html>