<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PersonalMarket</title>
    <link rel="icon" href="../img/Group 12.png">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/home_style.css">
    <link rel="stylesheet" href="../style/profile_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="../js/main.js" defer></script>
</head>

<body>
    <div class="navbar">
        <a href="./home.html">
            <div class="navbar_logo">
                <img src="../img/Group 12.png" alt="">
                <h1 class="navbar_text">Personal Market</h1>
            </div>
        </a>
        <ul class="navbar_menu">
            <li><a href="#">Categories</a></li>
            <li><a href="./rank.html">Ranking</a></li>
            <li><a href="#">Following</a></li>
            <li><a id="LookBook" href="#">New Shop</a></li>
            <li><a href="#">Brand</a></li>
            <li><a href="#">On Sale</a></li>
        </ul>
        <div class="navbar_user">
            <a href="./profile.html">
                <img src="../img/user.png" width="30" height="30">
            </a>
        </div>
        <a href="#" class="navbar_toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </div>
    <div class="profile">
        <div class="profile_inst">
            <div class="pf_img_container">
                <h3 class="pf_name">Henry's Profile</h3>
                <div class="profile_img"></div>
            </div>
            <div class="profile_desc">
                <p class="description">
                    <span>Instroduction :</span><br><br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Totam quam at ea veritatis sint dolorem tenetur laborum nulla reiciendis soluta eos perspiciatis
                    quos necessitatibus, doloribus corrupti earum, exercitationem sapiente cumque.
                    <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum error consequatur nobis
                    tempore cum asperiores porro expedita ducimus ullam eveniet?
                </p>
            </div>
        </div>
        <div class="profile_con"></div>
    </div>
</body>

</html>