<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PersonalMarket</title>
    <link rel="icon" href="../img/Group 12.png">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/home_style.css">
    <link rel="stylesheet" href="../style/profile_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="../js/profile.js" defer></script>
</head>

<body>
    <div class="navbar">
        <a href="./home.html">
            <div class="navbar_logo">
                <img src="../img/Group 12.png" alt="">
                <h1 class="navbar_text">Personal Market</h1>
            </div>
        </a>
        <ul class="navbar_menu">
            <li><a href="#">Categories</a></li>
            <li><a href="./rank.html">Ranking</a></li>
            <li><a href="#">Following</a></li>
            <li><a id="LookBook" href="#">New Shop</a></li>
            <li><a href="#">Brand</a></li>
            <li><a href="#">On Sale</a></li>
        </ul>
        <div class="navbar_user">
            <a href="./profile.html">
                <img src="../img/user.png" width="30" height="30">
            </a>
        </div>
        <a href="#" class="navbar_toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </div>
    <div class="profile">
        <div class="profile_inst">
            <div class="pf_img_container">
                <h3 class="pf_name">Henry's Profile</h3>
                <div class="profile_img">
                    <img src="../img/508067573cf56fa1dec501de032ddd2e.jpg">
                </div>
            </div>
            <div class="profile_desc">
                <p class="description">
                    <span>Instroduction :</span><br><br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Totam quam at ea veritatis sint dolorem tenetur laborum nulla reiciendis soluta eos perspiciatis
                    quos necessitatibus, doloribus corrupti earum, exercitationem sapiente cumque.
                    <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum error consequatur nobis
                    tempore cum asperiores porro expedita ducimus ullam eveniet?
                </p>
            </div>
        </div>
        <div class="profile_con"></div>
    </div>
    <div class="product_wrap">
        <div class="product_text">
            <h4 class="product_title">Contents</h4>
            <a href="">
                <h4 class="product_sort"><i class="fa-solid fa-chevron-down"></i> Date</h4>
            </a>
        </div>
        <div class="product_contents">
            <div class="grid">
                <div class="grid-sizer"></div>
                <a href="product_detail.html">
                    <div class="grid-item">
                        <img src="../img/9d5b389f1492dcd5c0a7046ea72753fb.jpg" />
                        <div class="product_short"><span>Title</span><br>Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit. Facere, perspiciatis!</div>
                    </div>
                </a>
                <a href="#">
                    <div class="grid-item">

                        <img src="../img/508067573cf56fa1dec501de032ddd2e.jpg" />
                        <div class="product_short"><span>Title</span><br>Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit. Facere, perspiciatis!</div>
                    </div>
                </a>
                <a href="#">
                    <div class="grid-item">
                        <img src="../img/3216368681e5f.jpg" />
                        <div class="product_short"><span>Title</span><br>Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit. Facere, perspiciatis!</div>
                    </div>
                </a>
                <a href="#">
                    <div class="grid-item">
                        <img src="../img/7534ec9540c6500691e08d9931b324dc.jpg" />
                        <div class="product_short"><span>Title</span><br>Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit. Facere, perspiciatis!</div>
                    </div>
                </a>
                <a href="#">
                    <div class="grid-item">
                        <img src="../img/2ecae3d25e49c8bd1881b94976e82018.jpg" />
                        <div class="product_short"><span>Title</span><br>Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit. Facere, perspiciatis!</div>
                    </div>
                </a>
                <a href="#">
                    <div class="grid-item">
                        <img src="../img/3b3694d4ccaf6dc282ed6636b384b88b.jpg" />
                        <div class="product_short"><span>Title</span><br>Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit. Facere, perspiciatis!</div>
                    </div>
                </a>
                <a href="#">
                    <div class="grid-item">
                        <img src="../img/a894674bd2c53fc5a7b1b4ad6dff4028.jpg" />
                        <div class="product_short"><span>Title</span><br>Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit. Facere, perspiciatis!</div>
                    </div>
                </a>
                <a href="#">
                    <div class="grid-item">
                        <img src="../img/fe899ad4af184943987b586e447df2e9.jpg" />
                        <div class="product_short"><span>Title</span><br>Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit. Facere, perspiciatis!</div>
                    </div>
                </a>
                <a href="#">
                    <div class="grid-item">
                        <img src="../img/2f08a63b3e878a0c8355088d8b2787c7.jpg" />
                        <div class="product_short"><span>Title</span><br>Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit. Facere, perspiciatis!</div>
                    </div>
                </a>
                <a href="#">
                    <div class="grid-item">
                        <img src="../img/9e3e8655138debd63fda517b7aa71168.jpg" />
                        <div class="product_short"><span>Title</span><br>Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit. Facere, perspiciatis!</div>
                    </div>
                </a>
                <a href="#">
                    <div class="grid-item">
                        <img src="../img/ce90a45c1030c159a6b8ec745e2541ea.jpg" />
                        <div class="product_short">
                            <span>Title</span><br>Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit. Facere, perspiciatis!
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="grid-item">
                        <img src="../img/f5bccf2f502c536e29772307562b8fc4.jpg" />
                        <div class="product_short"><span>Title</span><br>Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit. Facere, perspiciatis!</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>