<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PersonalMarket</title>
    <link rel="stylesheet" href="../style/home_style.css">
    <link rel="stylesheet" href="../style/rank_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="../js/main.js" defer></script>
</head>

<body>
    <div class="navbar">
        <a href="./home.html">
            <div class="navbar_logo">
                <img src="../img/Group 12.png" alt="">
                <h1 class="navbar_text">Personal Market</h1>
            </div>
        </a>
        <ul class="navbar_menu">
            <li><a href="#">Categories</a></li>
            <li><a href="./rank.html">Ranking</a></li>
            <li><a href="#">Following</a></li>
            <li><a id="LookBook" href="#">Best Look</a></li>
            <li><a href="#">Brand</a></li>
            <li><a href="#">Closer</a></li>
        </ul>
        <div class="navbar_user">
            <a href="#">
                <img src="../img/user.png" width="30" height="30">
            </a>
        </div>
        <a href="#" class="navbar_toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </div>
    </div>
    <div class="wrap">
        <h1>Top 5 <span>ranking</span></h1>
        <ul class="auto">
            <li class="btnStart">
                <i class="fas fa-play"></i>
            </li>
            <li class="btnStop">
                <i class="fas fa-pause"></i>
            </li>
        </ul>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="inner">
                    <div class="con">
                        <img src="../img/2c26f24c3d5b13e0005003c4c324b359 1.png">
                        <h2>Lorem ipsum dolor sit.</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, obcaecati.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="inner">
                    <div class="con">
                        <img src="../img/2c26f24c3d5b13e0005003c4c324b359 1.png">
                        <h2>Lorem ipsum dolor sit.</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, obcaecati.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="inner">
                    <div class="con">
                        <img src="../img/2c26f24c3d5b13e0005003c4c324b359 1.png">
                        <h2>Lorem ipsum dolor sit.</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, obcaecati.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="inner">
                    <div class="con">
                        <img src="../img/2c26f24c3d5b13e0005003c4c324b359 1.png">
                        <h2>Lorem ipsum dolor sit.</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, obcaecati.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="inner">
                    <div class="con">
                        <img src="../img/2c26f24c3d5b13e0005003c4c324b359 1.png">
                        <h2>Lorem ipsum dolor sit.</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, obcaecati.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

        <div class="swiper-pagination"></div>
    </div>

    <script>
        var swiper = new Swiper(".wrap", {
            pagination: {
                el: ".swiper-pagination",
                type: "fraction",
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            slidesPerView: "auto",
            spaceBetween: 50,
            loop: true,
            centeredSlides: true,
            speed: 1000,
            direction: "horizontal",
            // direction: "vertical"
            effect: "coverflow",
            coverflowEffect: {
                rotate: 40,
                stretch: -10,
                depth: -10,
                modifier: 1,
                slideShadows: false
            }
        });
    </script>
</body>

</html>